services:
  - type: web
    name: ompay-web
    env: docker
    plan: free
    dockerfilePath: Dockerfile
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: 'false'
      - key: APP_KEY
        generateValue: true
      - key: DATABASE_URL
        value: postgresql://postgres:elrXyZCpDHcWiwkKEvuVyfFEdSyQlBFJ@switchyard.proxy.rlwy.net:55205/railway?sslmode=require
      - key: DB_CONNECTION
        value: pgsql
      - key: TWILIO_SID
        sync: false
      - key: TWILIO_TOKEN
        sync: false
      - key: TWILIO_FROM
        sync: false
      - key: QUEUE_CONNECTION
        value: sync
      - key: L5_SWAGGER_BASE_PATH
        value: https://ompay-web.onrender.com
    buildCommand: "composer install --no-interaction --no-dev --prefer-dist --optimize-autoloader && php artisan key:generate && php artisan migrate --force && php artisan passport:install --force && php artisan l5-swagger:generate && php artisan config:cache && php artisan route:cache && php artisan view:cache"
    startCommand: "php artisan serve --host=0.0.0.0 --port=$PORT"

